<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
        table{
            margin: auto;
        }
        tr,td{
            border: 1px solid #333;
        }
    </style>
</head>
<body>
    <div class="memobox">
        <h1>memo</h1>
        <input type="button" value="새메모작성" onclick="javascript:location.href='/newMemo'" class="newBtn">
        <table>
            <tr>
                <th>내용</th>
                <th>작성일</th>
                <th>수정일</th>
                <th></th>
                <th></th>
                
            </tr>
            <% rows.forEach((row, index) => { %>
                <tr>
                    <td><pre><%= row.content %></pre></td>
                    <td><%= row.created %></td>
                    <td><%= row.updated %></td>
                    <td><input type="button" onclick="javascript:location.href='/updateMemo?id=<%= row.id%>'" value="수정"></td>
                    <td><input type="button" onclick="javascript:location.href='/deleteMemo?id=<%= row.id%>'" value="삭제"></td>
                </tr>
            <% }); %>

        </table>
    </div>  
    




</body>
</html>